# Backend API URL
# Development: http://localhost:4000
# Production: http://127.0.0.1:<BACKEND_PRIVATE_PORT>
NEXT_PUBLIC_API_URL=http://localhost:4000

# PM2 port (production)
FRONTEND_PUBLIC_PORT=3000
